body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}



/* NAV */

.nav-logo {
    height: 150px;
    width: auto;
    margin-right: 30px;
    margin-left: 140px;
}

#nav {
    background-color: white!important;
    width: 100%;
    -webkit-box-shadow: 0 2px 3px rgba(119, 119, 119, 0.1);
    -moz-box-shadow: 0 2px 3px rgba(119, 119, 119, 0.1);
    box-shadow: 0 2px 3px rgba(119, 119, 119, 0.1);
}

.nav-link {
    text-transform: uppercase;
    color: #86D3FF!important;
}

.nav-right {
    text-transform: uppercase;
    color: black!important;
}

#nav-right {
    position: relative;
    right: -7%;
    top: 0;
}


/* NAV */



/* Deed Selection */

#deed-section {
    margin-top: 50px;
}

.deed-choice {
    position: relative;
    background-color: #25aae2;
    border-radius: 5px;
    border: 3px solid white;
    z-index: 0;
    height: 335px;
    width: auto;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 6px 9px rgba(119, 119, 119, 0.5);
    -moz-box-shadow: 0 6px 9px rgba(119, 119, 119, 0.5);
    box-shadow: 0 6px 9px rgba(119, 119, 119, 0.5);
}

.deed-choice:hover {
    background-color: #25ace2c4;
}

.deed-choice:hover .selection-pic {
    opacity: .75;
}

.selection-pic {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: auto;
    z-index: 2;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#deed-section h5 {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 1.7em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

#deed-section p {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);

}

#deed-section a:hover {
    text-decoration: none;
}

@media only screen and (min-width: 997px) and (max-width: 1200px) {
    #deed-section h5 {
        font-size: 1.5em;
    }
    #deed-section p {
        font-size: .8em;
    }

}

@media only screen and (max-width: 575px) {
    .selection-pic {
        width: 60%;
        margin-left: 20%;
        margin-bottom: 30px;
        border: 1px solid white;
    }
    .deed-choice {
        height: auto!important;
    }
    .selection-pic {
        display: none;
    }
}

@media only screen and (max-width: 470px) {
    .selection-pic {
        width: 70%;
        margin-left: 15%;
        margin-bottom: 30px;
    }
 
}

/* Deed Selection */



/* Location Form */
#location-form {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 90%;
    height: auto;
    border: 1px solid #25aae2;
    border-radius: 5px;
    padding: 0;
    -webkit-box-shadow: 0 6px 9px rgba(119, 119, 119, 0.5);
    -moz-box-shadow: 0 6px 9px rgba(119, 119, 119, 0.5);
    box-shadow: 0 6px 9px rgba(119, 119, 119, 0.5);
}

#location-form-header {
    width: 100%!important;
    height: 50px;
    background-color: #25aae2;
}

#location-form-header h5 {
    color: white;
    font-size: 1.5em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    padding-top: 9px;
    text-align: center;
}

.location-form-label h5 {
    padding-top: 15px;
    padding-left: 3px;
}

#manual-entry-text {
    padding-left: 5px;
    padding-top: 10px;
}

#manual-entry-text a {
    color: #25aae2;

}

#form {
    padding-top: 10px;
    padding-bottom: 20px;
}

#form input {
    margin-bottom: 15px;
}

.form-multi-l {
    padding: 0!important;
}

.form-multi-m {
    padding: 0!important;
}

.form-multi-r {
    padding: 0;
}

@media only screen and (min-width: 767px) {
    .form-multi-m {
        padding-left: 8px!important;
        padding-right: 8px!important;
    }
}

@media only screen and (min-width: 575px) and (max-width: 767px) {
    .form-multi-m {
        padding-right: 8px!important;
    }
}

/* Location Form */





/* Confirmation Section */

#confirmation-section {
    background-color: #5cd1ff;
    height: 500px!important;
    position: relative;
}



#confirmation-section h3 {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 3.4em;
    font-weight: bold;
    margin-top: 20px;
    position: relative;
    z-index: 4;
}

#confirmation-section p {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    position: relative;
    z-index: 4;
}

#confirmation-section img {
    width: 50%;
    height: auto;
    margin-top: -50px;
}

#download-section {
    height: 80px;
    width: 100%;
    background-color: #2e3193;
    position: relative;
    z-index: 2;
}

.blue-btn {
    border-radius: 5px;
    background: linear-gradient(to bottom,#6bc1f7 0,#0da0db 100%);
    padding: 5px 15px;
    font-size: 24px;
    font-family: "Myriad Pro Regular";
    color: #fff;
}

.blue-btn:hover {
    color: #fff;
    background: #6bc1f7;
    background: -moz-linear-gradient(top,#6bc1f7 0,#009bd8 31%);
    background: -webkit-linear-gradient(top,#6bc1f7 0,#009bd8 31%);
    background: linear-gradient(to bottom,#6bc1f7 0,#009bd8 31%);
}

.btn {
    border: 1px solid transparent;
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    margin-bottom: 0;
    display: inline-block;
}

#download-btn {
    position: relative;
    top: 40%;
    left: 2%;
    width: 100%;
}

#objects {
    position: absolute;
    top: 35%;
}

#cloud-1 {
    position: relative;
    bottom: 5px;
    margin-left: 140%;
    animation: moveSlideshow-1 45s linear infinite;
}

#cloud-2 {
    position: relative;
    bottom: 130px;
    margin-left: 70%;
    animation: moveSlideshow-2 44s linear infinite;
}

#cloud-3 {
    position: relative;
    bottom: 320px;
    margin-left: 60%;
    animation: moveSlideshow-3 40s linear infinite;
}

#cloud-dis {
    position: relative;
    bottom: 490px;
    margin-left: 100px;
    -webkit-animation: disappear 21s normal forwards;
    animation: disappear 21s normal forwards;

}

#office {
    position: absolute;
    bottom: 0!important;
    left: 32%;
    z-index: 3;
    width: 36%!important;
    height: auto;
}

#deed {
    position: absolute;
    bottom: 0!important;
    left: 42%;
    z-index: 1;
    width: 0%!important;
    height: auto;
    opacity: 0.1;
    animation: scaleOut 11s infinite;
}

#skyline {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%!important;
    height: auto;
}

@keyframes scaleOut {
    0% {
        opacity: 0.1;
        width: 0%;
        bottom: 40px;
        left: 50%;
    }
    10% {
        opacity: 0.1;
        width: 0%;
        bottom: 40px;
        left: 50%;
    }
    20% {
        opacity: 1;
        width: 15%;
        bottom: 50px;
        left: 75%;
    }
    80% {
        opacity: 1;
        width: 15%;
        bottom: 50px;
        left: 75%;
    }
    90% {
        opacity: 0.1;
        width: 0%;
        bottom: 40px;
        left: 50%;
    }
    100% {
        opacity: 0.1;
        width: 0%;
        bottom: 40px;
        left: 50%;
    }
}


@keyframes moveSlideshow-1 {
    100% {
        transform: translateX(-335%);
    }
}

@keyframes moveSlideshow-2 {
    100% {
        transform: translateX(-250%);
    }
}

@keyframes moveSlideshow-3 {
    100% {
        transform: translateX(-255%);
    }
}

@-webkit-keyframes disappear{
    from {margin-left: 100px}
    to {margin-left: -600px}
}

@keyframes disappear{
from {margin-left: 100px}
to {margin-left: -600px}
}

@media only screen and (min-width: 1550px) {
    #objects {
        top: 15%!important;
    }
}

@media only screen and (max-width: 1225px) {
    #objects {
       top: 55%;
    }
}

@media only screen and (max-width: 997px) {
    #objects {
        top: 65%;
     }
}

@media only screen and (max-width: 776px) {
    #confirmation-section {
        height: 330px!important;
    }
    .clouds {
        bottom: 70px!important;
    }
    #cloud-3 {
        bottom: 140px!important;       
    }
    #cloud-dis {
        bottom: 200px!important;
    }
}

@media only screen and (max-width: 595px) {
    #confirmation-section {
        height: 300px!important;
    }
    .clouds {
        bottom: 50px!important;
    }
}



/* Confirmation Section */


#animate-area	{
	width: 100%;
	height: 400px;
	background-image: url("../images/clouds-bg.png");
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground .8s linear infinite;
}

/* @keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
} */

#filler-bottom {
    height: 1000px;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}











/* User Flow */

.header-section {
    margin-top: 40px;
    height: 300px;
    padding-top: 120px;
    text-transform: uppercase;
}

#personal-header h5 {
    color: white;
    font-size: 2.5em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;
}

#personal-header {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/personal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#property-header h5 {
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;
}

#property-header {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/owner.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
}

#grantee-header {
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../images/grantee.jpg") center;
    background-size: cover;
    background-repeat: no-repeat;
}

#grantee-header h5 {
    color: white;
    font-size: 2em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;
}

.header-image {
    width: 100%;
    height: auto;
}

.user-flow-container {
    width: 100%;
    height: auto;
    border: 1px solid #25aae2;
    border-radius: 5px;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 100px;
    -webkit-box-shadow: 0 6px 9px rgba(119, 119, 119, 0.5);
    -moz-box-shadow: 0 6px 9px rgba(119, 119, 119, 0.5);
    box-shadow: 0 6px 9px rgba(119, 119, 119, 0.5);
}

.user-container-top {
    width: 100%;
    height: 55px;
    background-color:#25aae2;
    padding-top: 12px;
    padding-left: 25px;
}

.user-flow-container form {
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;

}

.user-flow-container label {
    padding-left: 3px;
}

.user-flow-container input {
    margin-bottom: 20px;

}

.user-container-label {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
}

.user-flow-btn {
    /* background-color: #25aae2; */
    background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    width: 30%;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 35px;
}

.user-flow-btn:hover {
    color: white;
    background-color: #1588b6;
}

.btn-width {
    width: 100%!important;
}

.active-account-text {
    font-size: .8em;
    margin-bottom: 15px;
}

.table-added-selection {
    margin-bottom: 30px;
    /* margin-left: 37%; */
    border-top: 1px solid black;
    width: 100%;
}

tr {
    border-bottom: 1px solid black;
}

.btn-remove {
    background-color: #e66060;
    width: 180px;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    margin-left: 75%;
    margin-bottom: 10px;
    margin-top: 7px;
}

.btn-remove:hover {
    color: white;
    background-color: rgb(209, 75, 75);
}

@media only screen and (max-width: 997px) {
    .btn-remove {
    margin-left: 65%;
    }
}

@media only screen and (max-width: 776px) {
    #personal-header h5 {
        font-size: 1.7em;
    }

    #property-header {
        padding-top: 40px!important;
    }

    #grantee-header {
        padding-top: 50px!important;
    }

    .header-section {
        height: 160px;
        padding-top: 60px;
    }

    #property-header h5 {
        font-size: 1.6em;
    }

    #grantee-header h5 {
        font-size: 1.6em;
    }

    .btn-remove {
        margin-left: 55%;
    }
}

@media only screen and (max-width: 525px) {
    .btn-remove {
        margin-left: 40%;
        }
}





/* Checkout */

.table > tbody > tr {
    height: 70px;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}

#coupon-input-td {
    border-top: 1px solid black;
    margin-left: 30px!important;
}

.lastrow {
    border-top: 1px solid black!important;
}

.btn-coupon {
    /* background-color: #25aae2!important; */
    background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
    color: white;
    width: 100%;
}

.btn-coupon:hover {
    color: white;
    background-color: #1988b4!important;
}

#promo-label {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 15px;
}

#order-summary-section {
    margin-top: 75px;
}

#cbtn {
    margin-top: 30px!important;
}

#checkout-row {
    border-bottom: none;
}

#panel-heading {
    background-color: #25aae2;
    color: white;
    height: 100px;
    padding-top: 30px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}