body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}



/* NAV */

.nav-logo {
    height: 150px;
    width: auto;
    margin-right: 30px;
    margin-left: 140px;
}

#nav {
    background-color: white!important;
    width: 100%;
    -webkit-box-shadow: 0 2px 3px rgba(119, 119, 119, 0.1);
    -moz-box-shadow: 0 2px 3px rgba(119, 119, 119, 0.1);
    box-shadow: 0 2px 3px rgba(119, 119, 119, 0.1);
}

.nav-link {
    text-transform: uppercase;
    color: #86D3FF!important;
}

.nav-right {
    text-transform: uppercase;
    color: black!important;
}

#nav-right {
    position: relative;
    right: -7%;
    top: 0;
}


/* NAV */



/* Deed Selection */

#deed-section {
    margin-top: 50px;
}

.deed-choice {
    position: relative;
    background-color: #25aae2;
    border-radius: 5px;
    z-index: 0;    
    height: 320px;
    width: auto;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 6px 9px rgba(119, 119, 119, 0.5);
    -moz-box-shadow: 0 6px 9px rgba(119, 119, 119, 0.5);
    box-shadow: 0 6px 9px rgba(119, 119, 119, 0.5);
}

.deed-choice:hover {
    background-color: #25ace2c4;
}

.deed-choice:hover .selection-pic {
    opacity: .75;
}

.selection-pic {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: auto; 
    z-index: 2;  
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; 
}

#deed-section h5 {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-size: 1.7em;
}

#deed-section p {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1em;
}

#deed-section a:hover {
    text-decoration: none;
}



/* Deed Selection */







/* Confirmation Section */

#confirmation-section {
    background-color: #5cd1ff;
    height: 500px!important;
    position: relative;
}



#confirmation-section h3 {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 3.4em;
    font-weight: bold;
    margin-top: 20px;
    position: relative;
    z-index: 4;
}

#confirmation-section p {
    color: white;    
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    position: relative;
    z-index: 4;
}

#confirmation-section img {
    width: 50%;
    height: auto;
    margin-top: -50px;
}

#download-section {
    height: 80px;
    width: 100%;
    background-color: #2e3193;
    position: relative;
    z-index: 2;
}

.blue-btn {
    border-radius: 5px;
    background: linear-gradient(to bottom,#6bc1f7 0,#0da0db 100%);
    padding: 5px 15px;
    font-size: 24px;
    font-family: "Myriad Pro Regular";
    color: #fff;
}

.blue-btn:hover {
    color: #fff;
    background: #6bc1f7;
    background: -moz-linear-gradient(top,#6bc1f7 0,#009bd8 31%);
    background: -webkit-linear-gradient(top,#6bc1f7 0,#009bd8 31%);
    background: linear-gradient(to bottom,#6bc1f7 0,#009bd8 31%);
}

.btn {
    border: 1px solid transparent;
    user-select: none;
    touch-action: manipulation;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    margin-bottom: 0;
    display: inline-block;
}

#download-btn {
    position: relative;
    top: 40%;
    left: 2%;
    width: 100%;
}

#objects {
    position: absolute;
    top: 35%;
}

#cloud-1 {
    position: relative;
    bottom: 5px;
    margin-left: 140%;  
    animation: moveSlideshow-1 45s linear infinite;
}

#cloud-2 {
    position: relative;     
    bottom: 130px;
    margin-left: 70%;
    animation: moveSlideshow-2 44s linear infinite;
}

#cloud-3 {
    position: relative;    
    bottom: 320px;    
    margin-left: 60%;
    animation: moveSlideshow-3 40s linear infinite;
}

#cloud-dis {
    position: relative;    
    bottom: 490px;  
    margin-left: 100px;  
    -webkit-animation: disappear 21s normal forwards;
    animation: disappear 21s normal forwards;
    
}

#office {
    position: absolute;
    bottom: 0!important;
    left: 32%;
    z-index: 3;
    width: 36%!important;
    height: auto;
}

#deed {
    position: absolute;
    bottom: 0!important;
    left: 42%;
    z-index: 1;
    width: 0%!important;
    height: auto;
    opacity: 0.1;
    animation: scaleOut 11s infinite; 
}

#skyline {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%!important;
    height: auto;
}

@keyframes scaleOut {
    0% {
        opacity: 0.1;
        width: 0%;
        bottom: 40px;
        left: 50%;
    }
    10% {
        opacity: 0.1;
        width: 0%;
        bottom: 40px;
        left: 50%;
    }
    20% {
        opacity: 1;
        width: 15%;
        bottom: 50px;
        left: 75%;
    }
    80% {
        opacity: 1;
        width: 15%;
        bottom: 50px;
        left: 75%;
    }
    90% {
        opacity: 0.1;
        width: 0%;
        bottom: 40px;
        left: 50%;
    }
    100% {
        opacity: 0.1;
        width: 0%;
        bottom: 40px;
        left: 50%;
    }
}


@keyframes moveSlideshow-1 {
    100% { 
        transform: translateX(-305%);  
    }
}

@keyframes moveSlideshow-2 {
    100% { 
        transform: translateX(-240%);  
    }
}

@keyframes moveSlideshow-3 {
    100% { 
        transform: translateX(-250%);  
    }
}

@-webkit-keyframes disappear{
    from {margin-left: 100px}
    to {margin-left: -600px}
}

@keyframes disappear{
from {margin-left: 100px}
to {margin-left: -600px}
}

     


/* Confirmation Section */


#animate-area	{ 
	width: 100%; 
	height: 400px; 
	background-image: url("../images/clouds-bg.png");
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: animatedBackground .8s linear infinite;
}

/* @keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
} */

#filler-bottom {
    height: 1000px;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}